In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
boxscore = pd.read_csv("../data/boxscore_full.csv",sep=";")
rosters = pd.read_csv("../data/rosters_full.csv",sep=";")
matchdays = pd.read_csv("../data/matches.csv",sep=";")

In [3]:
rosters.head()

,team,season,number,name,birthdate,height,weight,position
0,Bayer Giants Leverkusen,Saison_2014_2015,4,Kai Behrmann,15.06.1993,1.80 m,70 kg,PG
1,Bayer Giants Leverkusen,Saison_2014_2015,6,Sören Bich,07.02.1995,1.87 m,75 kg,PG
2,Bayer Giants Leverkusen,Saison_2014_2015,3,Richard Barada Carter Jr,17.07.1992,1.80 m,80 kg,PG
3,Bayer Giants Leverkusen,Saison_2014_2015,13,Willy Gregg Manigat,02.10.1987,1.82 m,86 kg,PG
4,Bayer Giants Leverkusen,Saison_2014_2015,5,Matthias Goddek,05.09.1986,1.96 m,96 kg,SG

In [4]:
boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,1,0.0,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,2,1.0,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,0,0.0,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,2,1.0,4.0,0.0,3,1,1.0,0.0,2,4.0

In [5]:
matchdays.head()

,id,season,round,matchday,date,time,home,guest,home_points,guest_points
0,101059,Saison_2014_2015,PO,1,04.04.2015,19:00,Science City Jena,OeTTINGER Rockets Gotha,65,75
1,101058,Saison_2014_2015,PO,1,04.04.2015,19:00,s.Oliver Baskets,Hamburg Towers,73,55
2,101061,Saison_2014_2015,PO,1,04.04.2015,19:30,rent4office Nürnberg,ETB Wohnbau Baskets Essen,87,59
3,101060,Saison_2014_2015,PO,1,04.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,77,64
4,101065,Saison_2014_2015,PO,2,06.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,76,73

In [6]:
seasons = []
for index, row in boxscore.iterrows():
    seasons.append(matchdays.loc[matchdays['id'] == row['matchId'],'season'].sum())

boxscore['season'] = seasons

boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,0.0,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,1.0,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,0.0,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,1.0,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015

In [7]:
pos = []
for index, row in boxscore.iterrows():
    if row['name'] == 'Team':
        pos.append('999')
    else:
        pos.append(rosters.loc[(rosters['name']  == row['name']) & (rosters['team'] == row['team']) & (rosters['season'] == row['season']), 'position' ].sum() )

boxscore['position'] = pos

boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,0
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF

In [8]:
boxscore['position'].value_counts()

#boxscore[boxscore['position'] == '0'].sum()

PG     10604
SG      9290
PF      8213
C       7150
SF      7050
999     4152
0       2158
Name: position, dtype: int64

In [9]:
boxscore.head(20)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,0
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF
5,101059,Science City Jena,13.0,Georg Wilhelm Voigtmann,694,2,2,1.00,0,0,...,5.0,0.0,0,2,1.0,0.0,0,6.0,Saison_2014_2015,PF
6,101059,Science City Jena,17.0,David Edward Hicks III,1395,4,10,0.40,0,2,...,10.0,0.0,1,3,1.0,0.0,3,1.0,Saison_2014_2015,PG
7,101059,Science City Jena,20.0,Jan Heber,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG
8,101059,Science City Jena,30.0,Brady Craig Morningstar,1203,3,5,0.60,1,5,...,11.0,4.0,1,1,0.0,1.0,0,11.0,Saison_2014_2015,SG
9,101059,Science City Jena,33.0,Julius Wolf,1188,2,3,0.67,0,3,...,4.0,1.0,4,3,1.0,0.0,3,3.0,Saison_2014_2015,PF
10,101059,Science City Jena,34.0,Wayne Bernard,1873,0,1,0.00,2,4,...,8.0,2.0,1,1,0.0,3.0,0,11.0,Saison_2014_2015,SG
11,101059,Science City Jena,41.0,Mantas Virbalas,1061,3,9,0.33,0,0,...,6.0,1.0,7,4,0.0,0.0,1,7.0,Saison_2014_2015,C
12,101059,Science City Jena,999.0,Team,0,0,0,0.00,0,0,...,0.0,0.0,2,2,0.0,0.0,1,1.0,Saison_2014_2015,999
13,101059,OeTTINGER Rockets Gotha,1.0,Carlton Guyton,1890,2,4,0.50,0,4,...,9.0,7.0,3,3,0.0,1.0,4,8.0,Saison_2014_2015,SG
14,101059,OeTTINGER Rockets Gotha,6.0,Christopher Razis,1285,1,3,0.33,0,2,...,2.0,3.0,2,3,0.0,0.0,2,1.0,Saison_2014_2015,PG
15,101059,OeTTINGER Rockets Gotha,10.0,Sebastian Fülle,576,0,1,0.00,0,0,...,0.0,0.0,1,2,0.0,0.0,1,-1.0,Saison_2014_2015,SG
16,101059,OeTTINGER Rockets Gotha,11.0,Felix Hoffmann,307,1,1,1.00,0,0,...,2.0,0.0,3,0,0.0,0.0,0,4.0,Saison_2014_2015,SF
17,101059,OeTTINGER Rockets Gotha,13.0,Dmitrij Kreis,220,0,0,0.00,0,0,...,0.0,0.0,0,1,0.0,0.0,2,-2.0,Saison_2014_2015,PG
18,101059,OeTTINGER Rockets Gotha,15.0,Evan Harris,581,0,2,0.00,0,0,...,1.0,0.0,1,1,0.0,0.0,0,-1.0,Saison_2014_2015,C
19,101059,OeTTINGER Rockets Gotha,24.0,Matt Vest,1731,5,6,0.83,0,0,...,11.0,0.0,8,3,0.0,2.0,0,19.0,Saison_2014_2015,0

In [10]:
len(boxscore[boxscore['position'] == 0]['name'].unique().tolist())

72

In [11]:
boxscore[boxscore['position'] == 0]['name'].value_counts().head(30)

Robin Carl Lodders                 178
Matt Vest                          122
Richard Williams                   103
Joshua Adam Young                   97
Helge Baues                         90
Maurice Pluskota                    79
Lukas Wank                          75
Dominique Johnson                   71
Tom Alte                            69
Jeramie Woods                       65
Chase Griffin                       65
Sebastian Herrera Kratzborn         64
Alex Herrera                        63
Stefan Wess                         40
Joseph Lawson                       38
Jaleen Smith                        37
Andreas Nicklaus                    36
Besnik Bekteshi                     33
Terrell Harris                      33
Hugh Robertson                      33
Andre Murillo                       33
Bradley Tinsley                     32
Kavin Gilder-Tilbury                31
Kevin Wohlrath                      30
Courtney Allen Belger               30
Kristopher Ladon Fullwood-Davis     30
Miles Ramon Jackson-Cartwright      29
Daniel Norl                         27
Amir Carraway                       27
Keith Eugene Sherrill               27
Name: name, dtype: int64

The remaining player are matched by their jersey number

In [12]:
boxscore.query("name == '#12'")

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
1859,100054,s.Oliver Baskets,1.0,#12,376,0,2,0.0,0,0,...,0.0,1.0,0,2,0.0,1.0,0,0.0,Saison_2014_2015,0

# Scoring Function

In [13]:
#weights 
ce = [0.1915782478, 0.20880163, 0.1893672373, 0.2180375816, 0.09638690678, 0.2759764396, 0.1825556534]
pf = [0.208360037, 0.2011743018, 0.1967942263, 0.1981649906, 0.136708574, 0.2461256934, 0.2025059741]
pg = [0.2072206793, 0.193809877, 0.1676177688, 0.2171361032, 0.3769396308, 0.1480528393, 0.2148157464]
sf = [0.1813715018, 0.1989051952, 0.2517483496, 0.178773188, 0.155170461, 0.1790472923, 0.1938907056]
sg = [0.2114695341, 0.197308996, 0.194472418, 0.1878881365, 0.2347944275, 0.1507977355, 0.2062319205]

In [14]:
score = []

for index, row in boxscore.iterrows():

IndentationError: expected an indented block (1054239985.py, line 4)