This notebook covers the cleaning, formatting and upload of the scraped informations

In [1]:
#importing necessary packages
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Boxscores

In [2]:
# loading the csv file to a dataframe
boxscores = pd.read_csv("../data/boxscore_full_notformatted.csv", sep=";")
boxscores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48617 entries, 0 to 48616
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  48617 non-null  int64
 1   team     48603 non-null  object
 2   name     48617 non-null  object
 3   min      44465 non-null  object
 4   2Ps      44465 non-null  object
 5   3Ps      44465 non-null  object
 6   FGs      44465 non-null  object
 7   FTs      44465 non-null  object
 8   Ps       44465 non-null  float64
 9   As       44465 non-null  float64
 10  Rs       48617 non-null  object
 11  Fs       48617 non-null  int64
 12  BLs      44466 non-null  float64
 13  STs      44466 non-null  float64
 14  TOs      48617 non-null  int64
 15  EFs      48605 non-null  float64
dtypes: float64(5), int64(3), object(8)
memory usage: 5.9+ MB

In [3]:
#Creating a smaller testframe 
testbox = boxscores.head(20)
testbox

,matchId,team,name,min,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,#5 Kendall Chones,15:44,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,#7 Ermen Reyes-Napoles,24:46,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,#8 Lukas Wank,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,#9 Lars Wendt,24:51,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,#10 Sascha Leutloff,11:05,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,#13 Georg Wilhelm Voigtmann,11:34,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,#17 David Edward Hicks III,23:15,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,#20 Jan Heber,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,#30 Brady Craig Morningstar,20:03,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,#33 Julius Wolf,19:48,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,#34 Wayne Bernard,31:13,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,#41 Mantas Virbalas,17:41,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,1,1.0
13,101059,OeTTINGER Rockets Gotha,#1 Carlton Guyton,31:30,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,#6 Christopher Razis,21:25,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,#10 Sebastian Fülle,09:36,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,#11 Felix Hoffmann,05:07,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,#13 Dmitrij Kreis,03:40,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,#15 Evan Harris,09:41,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,#24 Matt Vest,28:51,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0


## Filling null values
The data has null values in the following columns:  
* team
* min
* 2Ps
* 3Ps
* FGs
* FTs
* Ps
* As
* BLs
* STs
* TOs
* EFs

In [4]:
#defining default values
na_team = "undefined"
na_min = "00:00"
na_quota = "0 - 0 - 0%"
na_float = 0.0

#filling null values
testbox['team'] = testbox['team'].fillna(na_team)
testbox['min'] = testbox['min'].fillna(na_min)
testbox['2Ps'] = testbox['2Ps'].fillna(na_quota)
testbox['3Ps'] = testbox['3Ps'].fillna(na_quota)
testbox['FGs'] = testbox['FGs'].fillna(na_quota)
testbox['FTs'] = testbox['FTs'].fillna(na_quota)
testbox['Ps'] = testbox['Ps'].fillna(na_float)
testbox['As'] = testbox['As'].fillna(na_float)
testbox['STs'] = testbox['STs'].fillna(na_float)
testbox['BLs'] = testbox['BLs'].fillna(na_float)
testbox['TOs'] = testbox['TOs'].fillna(na_float)
testbox['EFs'] = testbox['EFs'].fillna(na_float)

testbox

,matchId,team,name,min,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,#5 Kendall Chones,15:44,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,#7 Ermen Reyes-Napoles,24:46,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,#8 Lukas Wank,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,#9 Lars Wendt,24:51,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,#10 Sascha Leutloff,11:05,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,#13 Georg Wilhelm Voigtmann,11:34,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,#17 David Edward Hicks III,23:15,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,#20 Jan Heber,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,#30 Brady Craig Morningstar,20:03,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,#33 Julius Wolf,19:48,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,#34 Wayne Bernard,31:13,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,#41 Mantas Virbalas,17:41,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,Team,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,#1 Carlton Guyton,31:30,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,#6 Christopher Razis,21:25,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,#10 Sebastian Fülle,09:36,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,#11 Felix Hoffmann,05:07,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,#13 Dmitrij Kreis,03:40,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,#15 Evan Harris,09:41,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,#24 Matt Vest,28:51,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

Based on this testcase we developed a function "fill_box_na" which can be applied to the dataframe of a boxscore:

In [5]:
from formatfunctions import fill_box_na
fill_box_na(boxscores)
boxscores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48617 entries, 0 to 48616
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  48617 non-null  int64
 1   team     48617 non-null  object
 2   name     48617 non-null  object
 3   min      48617 non-null  object
 4   2Ps      48617 non-null  object
 5   3Ps      48617 non-null  object
 6   FGs      48617 non-null  object
 7   FTs      48617 non-null  object
 8   Ps       48617 non-null  float64
 9   As       48617 non-null  float64
 10  Rs       48617 non-null  object
 11  Fs       48617 non-null  int64
 12  BLs      48617 non-null  float64
 13  STs      48617 non-null  float64
 14  TOs      48617 non-null  int64
 15  EFs      48617 non-null  float64
dtypes: float64(5), int64(3), object(8)
memory usage: 5.9+ MB

## Formatting
The following columns have to be adjusted
- [x] Names -> number + name in seperate columns
- [x] Teamactions -> number = 999
- [x] min as seconds
- [x] 2P, 3P, FG , FT -> 1 column into 3 columns 
- [x] %-values to decimals
- [ ] Rebounds (Rs) Problem
- [x] all other values as integers

### Names and Teamactions formatting

In [6]:
#Building number column
numbers = testbox['name'].apply(lambda x: 999 if x=="Team" else x[1:(x.find(" "))])
testbox.insert(loc=2, column="number",  value=numbers)

#name column
testbox['name'] = testbox['name'].apply(lambda x: "Team" if x=="Team" else x[(x.find(" ")):]) 

testbox.head(20)

,matchId,team,number,name,min,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,15:44,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,24:46,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,24:51,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,11:05,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,11:34,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,23:15,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,20:03,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,19:48,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,31:13,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,17:41,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,31:30,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,21:25,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian Fülle,09:36,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,05:07,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,03:40,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,09:41,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,28:51,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

In [7]:
mask = (boxscores['Rs'].str.len() > 4)
df = boxscores.loc[mask]
df['matchId'].max()

108961

### Minutes as seconds

Change from the "mm:ss" string format to an integer value representing the seconds played

In [8]:
seconds = testbox['min'].apply(lambda x :  (int(x.split(":")[0])*60) +int(x.split(":")[1]))
testbox.insert(loc=testbox.columns.get_loc('min'), column="sec",  value=seconds)
testbox.drop(columns=['min'], inplace=True)
testbox

,matchId,team,number,name,sec,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,944,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,1486,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,0,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,1491,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,665,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,694,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,1395,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,0,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,1203,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,1188,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,1873,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,1061,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,0,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,1890,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,1285,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian Fülle,576,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,307,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,220,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,581,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,1731,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

### Quotas

The columns 2Ps, 3Ps, FGs and FTs currently have data in the following format: "X - Y - Z%"
Instead we want to divide each column in 3 seperate colums like 2P_P, 2P_A, 2P_R containing numerical values. 

"X - Y - Z%"  -> X   Y   0,Z

In [9]:
# getting the values in the intended datatype
points = testbox['2Ps'].apply(lambda x : int(x.split(" - ")[0]))
attempts = testbox['2Ps'].apply(lambda x : int(x.split(" - ")[1]))
relative = testbox['2Ps'].apply(lambda x : float(x.split(" - ")[2][:-1])/100)

In [10]:
# extracting position of the column to be seperated
loc = testbox.columns.get_loc('2Ps')
loc

5

In [11]:
# setting up new colum names
c_name = '2Ps'
new_names = [c_name[:-1]+"_P",c_name[:-1]+"_A", c_name[:-1]+"_R"]
new_names

['2P_P', '2P_A', '2P_R']

In [12]:
# adding new data and dropping old column
testbox.insert(loc=loc, column=new_names[2],  value=relative)
testbox.insert(loc=loc, column=new_names[1],  value=attempts)
testbox.insert(loc=loc, column=new_names[0],  value=points)
testbox.drop(columns=[c_name], inplace=True)
testbox

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,944,2,3,0.67,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,1486,2,4,0.50,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,0,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,1491,2,2,1.00,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,665,1,3,0.33,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,694,2,2,1.00,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,1395,4,10,0.40,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,0,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,1203,3,5,0.60,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,1188,2,3,0.67,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,1873,0,1,0.00,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,1061,3,9,0.33,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,0,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,1890,2,4,0.50,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,1285,1,3,0.33,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian Fülle,576,0,1,0.00,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,307,1,1,1.00,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,220,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,581,0,2,0.00,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,1731,5,6,0.83,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

In [13]:
from formatfunctions import quota_formatter

quota_columns = ['3Ps', 'FGs', 'FTs']

for c in quota_columns:
    quota_formatter(testbox, c)

testbox

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,944,2,3,0.67,0,0,...,1,0.00,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,2,1.00,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,1491,2,2,1.00,0,2,...,0,0.00,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,665,1,3,0.33,0,0,...,2,1.00,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,694,2,2,1.00,0,0,...,1,1.00,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,1395,4,10,0.40,0,2,...,2,1.00,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,1203,3,5,0.60,1,5,...,2,1.00,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,1188,2,3,0.67,0,3,...,0,0.00,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,1873,0,1,0.00,2,4,...,2,1.00,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,1061,3,9,0.33,0,0,...,0,0.00,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,1890,2,4,0.50,0,4,...,7,0.71,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,1285,1,3,0.33,0,2,...,0,0.00,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian Fülle,576,0,1,0.00,0,0,...,0,0.00,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,307,1,1,1.00,0,0,...,1,0.00,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,220,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,581,0,2,0.00,0,0,...,2,0.50,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,1731,5,6,0.83,0,0,...,2,0.50,11.0,0.0,8,3,0.0,2.0,0,19.0

### Type Conversion float -> int

The columns
* Ps
* As
* Fs
* BLs
* STs
* and EFs

contain float values which should be integers instead.

In [14]:
testbox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  20 non-null     int64
 1   team     20 non-null     object
 2   number   20 non-null     object
 3   name     20 non-null     object
 4   sec      20 non-null     int64
 5   2P_P     20 non-null     int64
 6   2P_A     20 non-null     int64
 7   2P_R     20 non-null     float64
 8   3P_P     20 non-null     int64
 9   3P_A     20 non-null     int64
 10  3P_R     20 non-null     float64
 11  FG_P     20 non-null     int64
 12  FG_A     20 non-null     int64
 13  FG_R     20 non-null     float64
 14  FT_P     20 non-null     int64
 15  FT_A     20 non-null     int64
 16  FT_R     20 non-null     float64
 17  Ps       20 non-null     float64
 18  As       20 non-null     float64
 19  Rs       20 non-null     object
 20  Fs       20 non-null     int64
 21  BLs      20 non-null     float64
 22  STs      20 non-null     float64
 23  TOs      20 non-null     int64
 24  EFs      20 non-null     float64
dtypes: float64(9), int64(12), object(4)
memory usage: 4.0+ KB

In [15]:
f_columns = ['Ps','As','Fs','BLs','STs','EFs']
for c in f_columns:
    testbox[c] = testbox[c].astype(int)

testbox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  20 non-null     int64
 1   team     20 non-null     object
 2   number   20 non-null     object
 3   name     20 non-null     object
 4   sec      20 non-null     int64
 5   2P_P     20 non-null     int64
 6   2P_A     20 non-null     int64
 7   2P_R     20 non-null     float64
 8   3P_P     20 non-null     int64
 9   3P_A     20 non-null     int64
 10  3P_R     20 non-null     float64
 11  FG_P     20 non-null     int64
 12  FG_A     20 non-null     int64
 13  FG_R     20 non-null     float64
 14  FT_P     20 non-null     int64
 15  FT_A     20 non-null     int64
 16  FT_R     20 non-null     float64
 17  Ps       20 non-null     int64
 18  As       20 non-null     int64
 19  Rs       20 non-null     object
 20  Fs       20 non-null     int64
 21  BLs      20 non-null     int64
 22  STs      20 non-null     int64
 23  TOs      20 non-null     int64
 24  EFs      20 non-null     int64
dtypes: float64(4), int64(17), object(4)
memory usage: 4.0+ KB

### Rebounds

Some Boxscores are separated into Offensive, Defensive and Total Rebounds ( String format: OO - DD - TT ) , some only contain the total amount of rebounds.

We decided to only keep the total amount of rebounds

In [16]:
from formatfunctions import rebound_formatter

rebound_formatter(testbox)

testbox

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,944,2,3,0.67,0,0,...,1,0.00,4,0,3,4,1,1,1,6
1,101059,Science City Jena,7,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,2,1.00,9,1,4,4,0,4,1,15
2,101059,Science City Jena,8,Lukas Wank,0,0,0,0.00,0,0,...,0,0.00,0,0,0,0,0,0,0,0
3,101059,Science City Jena,9,Lars Wendt,1491,2,2,1.00,0,2,...,0,0.00,4,1,1,1,0,0,4,0
4,101059,Science City Jena,10,Sascha Leutloff,665,1,3,0.33,0,0,...,2,1.00,4,0,3,1,1,0,2,4
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,694,2,2,1.00,0,0,...,1,1.00,5,0,0,2,1,0,0,6
6,101059,Science City Jena,17,David Edward Hicks III,1395,4,10,0.40,0,2,...,2,1.00,10,0,1,3,1,0,3,1
7,101059,Science City Jena,20,Jan Heber,0,0,0,0.00,0,0,...,0,0.00,0,0,0,0,0,0,0,0
8,101059,Science City Jena,30,Brady Craig Morningstar,1203,3,5,0.60,1,5,...,2,1.00,11,4,1,1,0,1,0,11
9,101059,Science City Jena,33,Julius Wolf,1188,2,3,0.67,0,3,...,0,0.00,4,1,4,3,1,0,3,3
10,101059,Science City Jena,34,Wayne Bernard,1873,0,1,0.00,2,4,...,2,1.00,8,2,1,1,0,3,0,11
11,101059,Science City Jena,41,Mantas Virbalas,1061,3,9,0.33,0,0,...,0,0.00,6,1,7,4,0,0,1,7
12,101059,Science City Jena,999,Team,0,0,0,0.00,0,0,...,0,0.00,0,0,2,2,0,0,1,1
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,1890,2,4,0.50,0,4,...,7,0.71,9,7,3,3,0,1,4,8
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,1285,1,3,0.33,0,2,...,0,0.00,2,3,2,3,0,0,2,1
15,101059,OeTTINGER Rockets Gotha,10,Sebastian Fülle,576,0,1,0.00,0,0,...,0,0.00,0,0,1,2,0,0,1,-1
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,307,1,1,1.00,0,0,...,1,0.00,2,0,3,0,0,0,0,4
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,220,0,0,0.00,0,0,...,0,0.00,0,0,0,1,0,0,2,-2
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,581,0,2,0.00,0,0,...,2,0.50,1,0,1,1,0,0,0,-1
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,1731,5,6,0.83,0,0,...,2,0.50,11,0,8,3,0,2,0,19

## Boxscores: Putting everything together

In this part we format the boxscore-table, create a csv backup and prepare the dataframe for the upload to our database

In [17]:
from formatfunctions import name_formatter
from formatfunctions import min_to_sec

fill_box_na(boxscores)

name_formatter(boxscores)
min_to_sec(boxscores)

quota_columns = ['2Ps','3Ps', 'FGs', 'FTs']
for c in quota_columns:
    quota_formatter(boxscores,c)

rebound_formatter(boxscores)

boxscores.tail(25)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
48592,108857,RASTA Vechta,21,Joel-Sadu Aminu,1811,3,5,0.60,3,5,...,0,0.00,15.0,3.0,6,2,1.0,3.0,3,21.0
48593,108857,RASTA Vechta,24,Preston Purifoy,1616,2,4,0.50,0,3,...,0,0.00,4.0,1.0,3,4,1.0,0.0,1,3.0
48594,108857,RASTA Vechta,77,Tyrone Nash,1364,3,7,0.43,0,0,...,3,0.33,7.0,0.0,8,2,0.0,1.0,3,7.0
48595,108857,RASTA Vechta,999,Team,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,6,0,0.0,0.0,0,6.0
48596,108854,ROSTOCK SEAWOLVES,0,Robert Albert Montgomery Jr.,911,1,2,0.50,0,2,...,1,1.00,3.0,0.0,7,1,1.0,2.0,0,10.0
48597,108854,ROSTOCK SEAWOLVES,2,Tyler Nelson,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,0,0.0,0.0,0,0.0
48598,108854,ROSTOCK SEAWOLVES,4,Svante Schmundt,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,0,0.0,0.0,0,0.0
48599,108854,ROSTOCK SEAWOLVES,5,Christopher John Carter,1630,2,6,0.33,3,4,...,4,0.75,16.0,2.0,7,4,0.0,4.0,1,22.0
48600,108854,ROSTOCK SEAWOLVES,14,Jordan Jamal Roland,1624,2,6,0.33,2,8,...,0,0.00,10.0,2.0,3,3,0.0,1.0,3,3.0
48601,108854,ROSTOCK SEAWOLVES,18,Till Gloger,1704,4,8,0.50,0,0,...,8,0.38,11.0,1.0,6,2,1.0,1.0,3,8.0
48602,108854,ROSTOCK SEAWOLVES,19,Sid-Marlon Theis,1970,3,5,0.60,3,8,...,0,0.00,15.0,5.0,4,3,1.0,0.0,3,15.0
48603,108854,ROSTOCK SEAWOLVES,21,Michael Jost,1126,0,0,0.00,0,3,...,0,0.00,0.0,0.0,1,2,0.0,0.0,1,-3.0
48604,108854,ROSTOCK SEAWOLVES,22,Nijal Eman Pearson,1674,2,6,0.33,0,3,...,0,0.00,4.0,3.0,4,2,1.0,1.0,0,6.0
48605,108854,ROSTOCK SEAWOLVES,35,Bradley Alexander Loesing,1361,4,6,0.67,2,4,...,0,0.00,14.0,3.0,1,4,0.0,0.0,1,13.0
48606,108854,ROSTOCK SEAWOLVES,999,Team,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,3,0,0.0,0.0,1,2.0
48607,108854,PS Karlsruhe LIONS,3,Nils Owen Schmitz,1609,0,4,0.00,1,3,...,0,0.00,3.0,2.0,1,1,0.0,1.0,4,-3.0
48608,108854,PS Karlsruhe LIONS,7,Matthew Moyer,1498,1,2,0.50,1,3,...,2,1.00,7.0,0.0,4,0,1.0,1.0,1,9.0
48609,108854,PS Karlsruhe LIONS,9,Matthew Jon Freeman,1394,2,3,0.67,2,5,...,0,0.00,10.0,1.0,5,3,0.0,1.0,3,10.0
48610,108854,PS Karlsruhe LIONS,10,Ferdinand Zylka,2148,5,12,0.42,4,7,...,0,0.00,22.0,3.0,7,1,0.0,1.0,2,21.0
48611,108854,PS Karlsruhe LIONS,11,Stanley Mace Whittaker jr.,1797,4,9,0.44,2,2,...,8,1.00,22.0,1.0,12,4,0.0,1.0,4,27.0
48612,108854,PS Karlsruhe LIONS,15,Leo Anthony Behrend,58,0,0,0.00,0,1,...,0,0.00,0.0,0.0,0,1,0.0,0.0,0,-1.0
48613,108854,PS Karlsruhe LIONS,20,Emil Marshall,1096,1,3,0.33,0,1,...,0,0.00,2.0,1.0,1,5,0.0,1.0,1,1.0
48614,108854,PS Karlsruhe LIONS,23,Maurice Marko Pluskota,1216,1,2,0.50,0,0,...,4,0.50,4.0,0.0,3,2,1.0,0.0,0,5.0
48615,108854,PS Karlsruhe LIONS,33,Tom-Niclas Alte,1184,3,4,0.75,0,0,...,4,1.00,10.0,0.0,3,2,2.0,1.0,1,14.0
48616,108854,PS Karlsruhe LIONS,999,Team,0,0,0,0.00,0,0,...,0,0.00,0.0,0.0,4,0,0.0,0.0,0,4.0

In [18]:
# create csv backup
boxscores.to_csv("../data/boxscore_full.csv", sep=";", index=False)

In [19]:
# store the dataframe for further use
%store boxscores

Stored 'boxscores' (DataFrame)

# Matchdays

- [x] Unite csv files to one dataframe  
- [] Column for Main Season and Play-offs  
- [x] Cancelled Matches need a new Match ID
- [] Results as 2 columns (home_points and guest_points)

Links to boxscores in seperate database

In [20]:
sn_list = ["2014_2015", "2015_2016", "2016_2017", "2017_2018", "2018_2019", "2019_2020", "2020_2021", "2021_2022"]

matchdays = pd.read_csv("../data/Saison_"+sn_list[0]+".csv", sep=",")
matchdays.head()

,id,season,matchday,date,time,home,guest,result,link
0,101059,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:00,Science City Jena,OeTTINGER Rockets Gotha,65:75,http://live.2basketballbundesliga.de/g/101059?...
1,101058,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:00,s.Oliver Baskets,Hamburg Towers,73:55,http://live.2basketballbundesliga.de/g/101058?...
2,101061,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:30,rent4office Nürnberg,ETB Wohnbau Baskets Essen,87:59,http://live.2basketballbundesliga.de/g/101061?...
3,101060,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,77:64,http://live.2basketballbundesliga.de/g/101060?...
4,101065,Saison_2014_2015,PO-1/4 Finale Spiel 2,06.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,76:73,http://live.2basketballbundesliga.de/g/101065?...

In [21]:
data = []
for i in sn_list :
    data.append(pd.read_csv("../data/Saison_"+i+".csv", sep=","))

matchdays = pd.concat(data)
matchdays.reset_index(drop=True, inplace=True)
matchdays.shape

(2214, 9)

In [22]:
matchdays.tail()

,id,season,matchday,date,time,home,guest,result,link
2209,108859,Saison_2021_2022,Spieltag 34,09.04.2022,19:30,TEAM EHINGEN URSPRING,RÖMERSTROM Gladiators Trier,69:101,http://live.2basketballbundesliga.de/g/108859?...
2210,108855,Saison_2021_2022,Spieltag 34,09.04.2022,19:30,Medipolis SC Jena,VfL SparkassenStars Bochum,121:83,http://live.2basketballbundesliga.de/g/108855?...
2211,108860,Saison_2021_2022,Spieltag 34,09.04.2022,19:30,VfL Kirchheim Knights,Nürnberg Falcons BC,57:89,http://live.2basketballbundesliga.de/g/108860?...
2212,108857,Saison_2021_2022,Spieltag 34,09.04.2022,19:30,Itzehoe Eagles,RASTA Vechta,67:84,http://live.2basketballbundesliga.de/g/108857?...
2213,108854,Saison_2021_2022,Spieltag 34,19.04.2022,18:00,ROSTOCK SEAWOLVES,PS Karlsruhe LIONS,73:80,http://live.2basketballbundesliga.de/g/108854?...

In [23]:
matchdays.drop(columns=['link'], inplace=True)
matchdays.head()

,id,season,matchday,date,time,home,guest,result
0,101059,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:00,Science City Jena,OeTTINGER Rockets Gotha,65:75
1,101058,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:00,s.Oliver Baskets,Hamburg Towers,73:55
2,101061,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:30,rent4office Nürnberg,ETB Wohnbau Baskets Essen,87:59
3,101060,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,77:64
4,101065,Saison_2014_2015,PO-1/4 Finale Spiel 2,06.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,76:73

## New MatchIDs for cancelled matches

In [24]:
display(matchdays.query("result == '--:--'"))

,id,season,matchday,date,time,home,guest,result
1321,104962,Saison_2019_2020,Spieltag 1,N.N.,NaN,Uni Baskets Paderborn,spielfrei,--:--
1330,105644,Saison_2019_2020,Spieltag 2,N.N.,NaN,ROSTOCK SEAWOLVES,spielfrei,--:--
1339,105653,Saison_2019_2020,Spieltag 3,N.N.,NaN,FC Schalke 04 Basketball,spielfrei,--:--
1348,105662,Saison_2019_2020,Spieltag 4,N.N.,NaN,TEAM EHINGEN URSPRING,spielfrei,--:--
1357,105671,Saison_2019_2020,Spieltag 5,N.N.,NaN,Artland Dragons,spielfrei,--:--
...,...,...,...,...,...,...,...,...
2169,108810,Saison_2021_2022,Spieltag 30,N.N.,NaN,TEAM EHINGEN URSPRING,spielfrei,--:--
2178,108824,Saison_2021_2022,Spieltag 31,N.N.,NaN,spielfrei,Medipolis SC Jena,--:--
2187,108833,Saison_2021_2022,Spieltag 32,N.N.,NaN,ROSTOCK SEAWOLVES,spielfrei,--:--
2196,108842,Saison_2021_2022,Spieltag 33,N.N.,NaN,spielfrei,wiha Panthers Schwenningen,--:--
2205,108851,Saison_2021_2022,Spieltag 34,N.N.,NaN,Tigers Tübingen,spielfrei,--:--

In [25]:
i = 1
for index, row in matchdays.iterrows():
    if row['result'] == '--:--':
        matchdays.loc[index, 'id'] = i
        i = i + 1

In [26]:
display(matchdays.query("result == '--:--'"))

,id,season,matchday,date,time,home,guest,result
1321,1,Saison_2019_2020,Spieltag 1,N.N.,NaN,Uni Baskets Paderborn,spielfrei,--:--
1330,2,Saison_2019_2020,Spieltag 2,N.N.,NaN,ROSTOCK SEAWOLVES,spielfrei,--:--
1339,3,Saison_2019_2020,Spieltag 3,N.N.,NaN,FC Schalke 04 Basketball,spielfrei,--:--
1348,4,Saison_2019_2020,Spieltag 4,N.N.,NaN,TEAM EHINGEN URSPRING,spielfrei,--:--
1357,5,Saison_2019_2020,Spieltag 5,N.N.,NaN,Artland Dragons,spielfrei,--:--
...,...,...,...,...,...,...,...,...
2169,134,Saison_2021_2022,Spieltag 30,N.N.,NaN,TEAM EHINGEN URSPRING,spielfrei,--:--
2178,135,Saison_2021_2022,Spieltag 31,N.N.,NaN,spielfrei,Medipolis SC Jena,--:--
2187,136,Saison_2021_2022,Spieltag 32,N.N.,NaN,ROSTOCK SEAWOLVES,spielfrei,--:--
2196,137,Saison_2021_2022,Spieltag 33,N.N.,NaN,spielfrei,wiha Panthers Schwenningen,--:--
2205,138,Saison_2021_2022,Spieltag 34,N.N.,NaN,Tigers Tübingen,spielfrei,--:--

## Results as 2 columns (home_points and guest_points)

In [27]:
results = matchdays['result'].unique()
errors = []
for r in results:
    if len(r) >7:
        errors.append(r)

matchdays.query('result == "OCK SEAWOLVES"')

,id,season,matchday,date,time,home,guest,result
1627,107418,Saison_2020_2021,Gruppenphase - Spieltag 1,PO-Gruppe 1,.04.,it 18:00 Uhr,Science City Jena,OCK SEAWOLVES
1635,107422,Saison_2020_2021,Gruppenphase - Spieltag 3,PO-Gruppe 1,.04.,it 18:00 Uhr,Bayer Giants Leverkusen,OCK SEAWOLVES
1644,107425,Saison_2020_2021,Gruppenphase - Spieltag 5,PO-Gruppe 1,.04.,it 18:30 Uhr,Artland Dragons,OCK SEAWOLVES

In [28]:
home_points = matchdays['result'].apply(lambda x: int(x.split(':')[0]) if x != '--:--' and len(x) < 7 else 0 )
guest_points = matchdays['result'].apply(lambda x: int(x.split(':')[1]) if x != '--:--' and len(x) < 7 else 0 )

pos = matchdays.columns.get_loc('result')

matchdays.insert(loc=pos, column="guest_points", value=guest_points)
matchdays.insert(loc=pos, column="home_points", value=home_points)

matchdays.head(20)

,id,season,matchday,date,time,home,guest,home_points,guest_points,result
0,101059,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:00,Science City Jena,OeTTINGER Rockets Gotha,65,75,65:75
1,101058,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:00,s.Oliver Baskets,Hamburg Towers,73,55,73:55
2,101061,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,19:30,rent4office Nürnberg,ETB Wohnbau Baskets Essen,87,59,87:59
3,101060,Saison_2014_2015,PO-1/4 Finale Spiel 1,04.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,77,64,77:64
4,101065,Saison_2014_2015,PO-1/4 Finale Spiel 2,06.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,76,73,76:73
5,101064,Saison_2014_2015,PO-1/4 Finale Spiel 2,06.04.2015,17:00,MLP Academics Heidelberg,GIESSEN 46ers,54,65,54:65
6,101063,Saison_2014_2015,PO-1/4 Finale Spiel 2,06.04.2015,17:00,OeTTINGER Rockets Gotha,Science City Jena,83,73,83:73
7,101062,Saison_2014_2015,PO-1/4 Finale Spiel 2,06.04.2015,17:00,Hamburg Towers,s.Oliver Baskets,61,70,61:70
8,101067,Saison_2014_2015,PO-1/4 Finale Spiel 3,10.04.2015,19:30,Science City Jena,OeTTINGER Rockets Gotha,73,60,73:60
9,101066,Saison_2014_2015,PO-1/4 Finale Spiel 3,10.04.2015,19:30,s.Oliver Baskets,Hamburg Towers,90,48,90:48
10,101068,Saison_2014_2015,PO-1/4 Finale Spiel 3,10.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,80,68,80:68
11,101069,Saison_2014_2015,PO-1/4 Finale Spiel 3,10.04.2015,20:00,rent4office Nürnberg,ETB Wohnbau Baskets Essen,57,60,57:60
12,101073,Saison_2014_2015,PO-1/4 Finale Spiel 4,12.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,72,80,72:80
13,101071,Saison_2014_2015,PO-1/4 Finale Spiel 4,12.04.2015,17:00,OeTTINGER Rockets Gotha,Science City Jena,55,51,55:51
14,101077,Saison_2014_2015,PO-1/4 Finale Spiel 5,14.04.2015,20:00,rent4office Nürnberg,ETB Wohnbau Baskets Essen,83,63,83:63
15,101078,Saison_2014_2015,PO-1/2 Finale Spiel 1,18.04.2015,19:00,s.Oliver Baskets,OeTTINGER Rockets Gotha,60,55,60:55
16,101079,Saison_2014_2015,PO-1/2 Finale Spiel 1,18.04.2015,19:30,rent4office Nürnberg,GIESSEN 46ers,80,85,80:85
17,101081,Saison_2014_2015,PO-1/2 Finale Spiel 2,21.04.2015,20:00,GIESSEN 46ers,rent4office Nürnberg,78,65,78:65
18,101080,Saison_2014_2015,PO-1/2 Finale Spiel 2,21.04.2015,20:00,OeTTINGER Rockets Gotha,s.Oliver Baskets,67,61,67:61
19,101082,Saison_2014_2015,PO-1/2 Finale Spiel 3,24.04.2015,19:30,s.Oliver Baskets,OeTTINGER Rockets Gotha,81,61,81:61

In [29]:
matchdays.drop(columns=['result'], inplace=True)

## Column for Main Season and Play-offs

In [30]:
rounds = matchdays['matchday'].apply(lambda x: 'Main' if x.startswith('S') else 'PO')
matchdays.insert(loc=matchdays.columns.get_loc('matchday'), column="round", value=rounds)

matchdays['matchday']=  matchdays['matchday'].apply(lambda x: x.split(' ')[-1])

matchdays.head()

,id,season,round,matchday,date,time,home,guest,home_points,guest_points
0,101059,Saison_2014_2015,PO,1,04.04.2015,19:00,Science City Jena,OeTTINGER Rockets Gotha,65,75
1,101058,Saison_2014_2015,PO,1,04.04.2015,19:00,s.Oliver Baskets,Hamburg Towers,73,55
2,101061,Saison_2014_2015,PO,1,04.04.2015,19:30,rent4office Nürnberg,ETB Wohnbau Baskets Essen,87,59
3,101060,Saison_2014_2015,PO,1,04.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,77,64
4,101065,Saison_2014_2015,PO,2,06.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,76,73

In [31]:
%store matchdays

Stored 'matchdays' (DataFrame)

# Rosters

In [32]:
rosters = pd.read_csv("../data/rosters_full_notformatted.csv", sep=",")
rosters.head()

,team,season,number,name,birthday,age,height,weight,position
0,Bayer Giants Leverkusen,Saison_2014_2015,4,Kai Behrmann *,15.06.1993,1.80 m,70 kg,PG,NaN
1,Bayer Giants Leverkusen,Saison_2014_2015,6,Sören Bich *,07.02.1995,1.87 m,75 kg,PG,NaN
2,Bayer Giants Leverkusen,Saison_2014_2015,3,Richard Barada Carter Jr,17.07.1992,1.80 m,80 kg,PG,NaN
3,Bayer Giants Leverkusen,Saison_2014_2015,13,Willy Gregg Manigat,02.10.1987,1.82 m,86 kg,PG,NaN
4,Bayer Giants Leverkusen,Saison_2014_2015,5,Matthias Goddek,05.09.1986,1.96 m,96 kg,SG,NaN

In [33]:
rosters.drop(columns=['position'], inplace=True)

rosters.columns = ['team','season','number','name','birthdate','height','weight','position']

rosters.head()

,team,season,number,name,birthdate,height,weight,position
0,Bayer Giants Leverkusen,Saison_2014_2015,4,Kai Behrmann *,15.06.1993,1.80 m,70 kg,PG
1,Bayer Giants Leverkusen,Saison_2014_2015,6,Sören Bich *,07.02.1995,1.87 m,75 kg,PG
2,Bayer Giants Leverkusen,Saison_2014_2015,3,Richard Barada Carter Jr,17.07.1992,1.80 m,80 kg,PG
3,Bayer Giants Leverkusen,Saison_2014_2015,13,Willy Gregg Manigat,02.10.1987,1.82 m,86 kg,PG
4,Bayer Giants Leverkusen,Saison_2014_2015,5,Matthias Goddek,05.09.1986,1.96 m,96 kg,SG

In [34]:
for i in range(2):
    rosters['name']=  rosters['name'].apply(lambda x : x.rstrip('*'))
    rosters['name']=  rosters['name'].apply(lambda x : x.rstrip())

In [35]:
rosters.shape

(2310, 8)

In [36]:
rosters[rosters.duplicated(['season','team','name','birthdate'])]

,team,season,number,name,birthdate,height,weight,position
20,Bike-Cafe Messingschlager Baunach,Saison_2014_2015,14,Tibor Taras,24.09.1997,1.97 m,82 kg,SG
161,RASTA Vechta,Saison_2014_2015,25,Blanchard Obiango,30.04.1988,2.02 m,92 kg,PF
164,RASTA Vechta,Saison_2014_2015,21,Donald Lawson,20.06.1988,2.08 m,113 kg,C
257,Baunach Young Pikes,Saison_2015_2016,18,Tibor Taras,24.09.1997,1.97 m,82 kg,SG
276,Bayer Giants Leverkusen,Saison_2015_2016,26,Daniel Merkens,06.09.1996,1.84 m,72 kg,SG
517,VfL Kirchheim Knights,Saison_2015_2016,6,Shkelzen Bekteshi,21.01.1991,1.85 m,85 kg,SG
534,Baunach Young Pikes,Saison_2016_2017,14,Tibor Taras,24.09.1997,1.97 m,82 kg,SG
779,VfL Kirchheim Knights,Saison_2016_2017,6,Shkelzen Bekteshi,21.01.1991,1.85 m,85 kg,SG
796,Baunach Young Pikes,Saison_2017_2018,18,Tibor Taras,24.09.1997,1.98 m,90 kg,SG
926,OrangeAcademy,Saison_2017_2018,16,Lazar Scekic,25.03.2001,2.13 m,103 kg,C
1043,Uni Baskets Paderborn,Saison_2017_2018,18,Christopher Kleinkes,11.09.2000,2.07 m,98 kg,C
1096,Baunach Young Pikes,Saison_2018_2019,18,Tibor Taras,24.09.1997,1.97 m,82 kg,SG
1113,Baunach Young Pikes,Saison_2018_2019,5,Leo Vincent Saffer,06.06.2000,2.10 m,103 kg,C
1124,EBBECKE WHITE WINGS Hanau,Saison_2018_2019,30,Benedikt Nicolay,22.02.1991,1.90 m,86 kg,SF
1172,Hamburg Towers,Saison_2018_2019,20,Lars Kamp,28.03.1996,1.84 m,72 kg,SG
1258,PS Karlsruhe LIONS,Saison_2018_2019,7,Craig Taylor Bradshaw,05.08.1993,1.90 m,92 kg,SG
1349,Uni Baskets Paderborn,Saison_2018_2019,8,Ole Wendt,05.10.1992,1.90 m,83 kg,PG
1395,Artland Dragons,Saison_2019_2020,32,Hendrik Prasuhn,05.08.1999,1.95 m,95 kg,PF
1661,Uni Baskets Paderborn,Saison_2019_2020,2,Christopher Jackson Trapp,03.11.1992,1.93 m,91 kg,SG
1958,Uni Baskets Paderborn,Saison_2020_2021,2,Christopher Jackson Trapp,03.11.1992,1.93 m,91 kg,SG

In [37]:
rosters.drop_duplicates(['season','team','name','birthdate'], inplace=True)
rosters.shape

(2290, 8)

In [38]:
rosters.head()

,team,season,number,name,birthdate,height,weight,position
0,Bayer Giants Leverkusen,Saison_2014_2015,4,Kai Behrmann,15.06.1993,1.80 m,70 kg,PG
1,Bayer Giants Leverkusen,Saison_2014_2015,6,Sören Bich,07.02.1995,1.87 m,75 kg,PG
2,Bayer Giants Leverkusen,Saison_2014_2015,3,Richard Barada Carter Jr,17.07.1992,1.80 m,80 kg,PG
3,Bayer Giants Leverkusen,Saison_2014_2015,13,Willy Gregg Manigat,02.10.1987,1.82 m,86 kg,PG
4,Bayer Giants Leverkusen,Saison_2014_2015,5,Matthias Goddek,05.09.1986,1.96 m,96 kg,SG

In [41]:
rosters['team'] = rosters['team'].apply(lambda x: x.strip())
rosters.head()

,team,season,number,name,birthdate,height,weight,position
0,Bayer Giants Leverkusen,Saison_2014_2015,4,Kai Behrmann,15.06.1993,1.80 m,70 kg,PG
1,Bayer Giants Leverkusen,Saison_2014_2015,6,Sören Bich,07.02.1995,1.87 m,75 kg,PG
2,Bayer Giants Leverkusen,Saison_2014_2015,3,Richard Barada Carter Jr,17.07.1992,1.80 m,80 kg,PG
3,Bayer Giants Leverkusen,Saison_2014_2015,13,Willy Gregg Manigat,02.10.1987,1.82 m,86 kg,PG
4,Bayer Giants Leverkusen,Saison_2014_2015,5,Matthias Goddek,05.09.1986,1.96 m,96 kg,SG

In [44]:
rosters.to_csv("../data/rosters_full.csv", sep=";",index=False)

In [45]:
%store rosters

Stored 'rosters' (DataFrame)